body {
    /* background-color: rgb(138, 178, 211); */
    font-family: "Montserrat";
}

.navbar-brand{
    color: white;
    font-size: 2rem;
    font-family: 'Charmonman';
    margin-top: 5px;
}

.nav-link {
    color: white;
    /* text-align: center; */
    padding: 12px;
}
.nav-link:hover {
    background-color: rgb(54, 80, 119);
    color: white !important;
}

.carousel {
    /* margin: 0 25%; */
}

.carousel-item {
    height: 90vh;
    min-height: 500px;
    background: no-repeat center scroll;
    background-size: cover;
  }

  .carousel-indicators {
    margin: 0;
    width: auto;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 33.33%;
    height: 10px;
    margin: 0;
    border: none;
    background: #ccc;
}
.carousel-indicators li.active {
    background: rgb(43, 115, 156);
}

/* .carousel-caption {
    flex-wrap: wrap;
    top: 30%;
    color: black;
    /* left: 1%; 
    text-align: left;
    margin-left: -90px;
}

.carousel-caption span{
    font-family: "Monofett";
    color: black;
    font-size: 3.5em;
} */

.blink{
    color: rgb(29, 80, 80) !important;
}
.scrolled{
    background-color: rgb(54, 80, 119);
}

hr{
    width: 25%;
    color: rgb(22, 44, 61); 
    border: 1px solid rgb(43, 145, 134);
    border-radius: 10px;
    background: rgb(43, 145, 134);
    height: 5px; 
    margin-bottom: 40px;
}

h1{
    text-align: center;
    margin: 5px 35%;
    padding: 5px;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(22, 110, 126);
    font-size: 4rem;
}

h1:hover {
    background-color: rgb(22, 110, 126);
    color: white;
    text-decoration: underline  rgb(22, 110, 126);;
}